location                  = "Southeast Asia"
resource_group_name       = "rg-aztf-08"
virtual_network_name      = "vnet-aztf-08"
subnet_name               = "snet-aztf-08-01"
public_ip_name            = "pip-aztf-08"
network_interface_name    = "nic-aztf-08"
ip_configuration_name     = "ipconfig-aztf-08"
key_vault_name            = "kv-aztf-08"
key_vault_secret_name     = "kv-secret-aztf-08"
windows_vm_name           = "vm-aztf-08-win"
os_disk_name              = "osdisk-vm-aztf-08-win"
admin_username            = "aztfadmin"
admin_password            = "<YOUR_STRONG_PASSWORD>"