location                    = "Southeast Asia"
resource_group_name         = "rg-aztf-10"
virtual_network_name        = "vnet-aztf-10"
subnet_name                 = "snet-aztf-10-01"
public_ip_name              = "pip-aztf-10"
network_interface_name      = "nic-aztf-10"
ip_configuration_name       = "ipconfig-aztf-10"
network_security_group_name = "nsg-aztf-10"
linux_vm_name               = "vm-aztf-10-linux"
os_disk_name                = "osdisk-vm-aztf-10-linux"
admin_username              = "aztfadmin"
admin_password              = "<YOUR_STRONG_PASSWORD>"