location               = "Southeast Asia"
resource_group_name    = "rg-aztf-16"

storage_account_name   = "staztf16"
storage_container_name = "scripts-aztf-16"
storage_blob_name      = "load-data.sql"

mssql_server_name      = "sql-aztf-16"
mssql_database_name    = "sqldb-aztf-16"
mssql_admin_username   = "aztfadmin"
mssql_admin_password   = "<YOUR_STRONG_SQL_PASSWORD>"
allowed_client_ip      = "x.x.x.x"

service_plan_name      = "asp-aztf-16"
web_app_name           = "app-aztf-16"

github_repository_url  = "https://github.com/your-username/your-repo.git"
github_token           = "<YOUR_GITHUB_PERSONAL_ACCESS_TOKEN>"