location               = "Southeast Asia"
resource_group_name    = "rg-aztf-05"
virtual_network_name   = "vnet-aztf-05"
subnet_name            = "snet-aztf-05-01"
public_ip_name         = "pip-aztf-05"
network_interface_name = "nic-aztf-05"
ip_configuration_name  = "ipconfig-aztf-05"
windows_vm_name        = "vm-aztf-05-win"
os_disk_name           = "osdisk-vm-aztf-05-win"
admin_username         = "aztfadmin"
admin_password         = "<YOUR_STRONG_PASSWORD>"
