location                = "Southeast Asia"
resource_group_name     = "rg-aztf-06"
virtual_network_name    = "vnet-aztf-06"
subnet_name             = "snet-aztf-06-01"
public_ip_name          = "pip-aztf-06"
network_interface_name  = "nic-aztf-06"
ip_configuration_name   = "ipconfig-aztf-06"
availability_set_name   = "avail-aztf-06"
windows_vm_name         = "vm-aztf-06-win"
os_disk_name            = "osdisk-vm-aztf-06-win"
data_disk_name          = "datadisk-vm-aztf-06-win-01"
admin_username          = "aztfadmin"
admin_password          = "<YOUR_STRONG_PASSWORD>"