location                    = "Southeast Asia"
resource_group_name         = "rg-aztf-17"
virtual_network_name        = "vnet-aztf-17"
subnet_name                 = "snet-aztf-17-01"
bastion_subnet_name         = "AzureBastionSubnet"
public_ip_name              = "pip-aztf-17"
network_interface_name      = "nic-aztf-17"
ip_configuration_name       = "ipconfig-aztf-17"
network_security_group_name = "nsg-aztf-17"
windows_vm_name             = "vm-aztf-17-win"
os_disk_name                = "osdisk-vm-aztf-17-win"
admin_username              = "aztfadmin"
admin_password              = "<YOUR_STRONG_PASSWORD>"
bastion_host_name           = "bastion-aztf-17"